* {
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 160, 188);
}

.head a {
    text-decoration: none;
    color: black;
}

.head:hover {
    opacity: 0.4;
}

button {
    border-color: hsl(0, 0%, 95%);
    height: 40px;
    width: 130px;
    cursor: pointer;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.item1 {
    grid-area: header;
    background-color: red;
    height: 200px;
}

.item2 {
    grid-area: menu;
    background-color: green;
}

.item3 {
    grid-area: main;
    background-color: blue;
}

.item4 {
    grid-area: right;
    background-color: yellow;
}

.item5 {
    grid-area: footer;
    background-color: blue;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header right right' 'menu menu menu main main main' 'menu menu menu footer footer footer';
    gap: 10px;
    background-color: rgb(11, 0, 31);
    padding: 10px;
    width: 700px;
}

.grid-container>div {
    text-align: center;
    padding: 50px 10px;
    font-size: 30px;
}